body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #9261ca;
}

header {
    background-color: #9261ca;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

section {
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
}

ul {
    list-style-type: square;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #9261ca50;
    color: white;
}
